<br>
<header class="masthead bg-primary text-white text-center">
  <div class="container"><br>
    <h1 class="text-uppercase mb-0">Kaiburr App</h1>
    <hr class="star-light">
  </div>
</header>

<div class="container">
  <table class="table table-striped">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Language</th>
    <th>Framework </th>
    </thead>
    <tbody>
    <tr *ngFor="let server of servers">
      <td>{{server.id}}</td>
      <td>{{server.name}}</td>
      <td>{{server.language}}</td>
      <td>{{server.framework}}</td>
      <td><button class="btn btn-danger" (click)="deleteItem(server)">Delete</button>
        <button class="btn btn-primary" (click)="saveOrUpdateItem(server)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="newItem()">New Server</button>
</div>

<hr>
<footer class="container-fluid bg-4 text-center">
  <p> Copyright Ⓒ Anurag Wadhwa:All Rights Reserved</p>
</footer>
